@import '~bootstrap/scss/bootstrap';

body {
    background-color: $light;
}

.not-found {
    background: url(../src/404.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.brand-link {
   color: black;
   font-size: 30px;
   font-weight: bold;

   &:hover {
       color: rgb(128, 121, 121);
       text-decoration: none;
   }
}